<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea placeholder="Enter Your ArrayList Here" name="input1" rows="10" cols="30"></textarea>
        <textarea placeholder="Enter Your First Number Here" name="input2" rows="10" cols="30"></textarea>
        <textarea placeholder="Enter Your Second Number Here" name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
